a {
    color: black;

}
h1 { 
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
#NIGHT{
    margin: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    border-right: 1px solid gray;
    width: 100px;
    padding: 20px;
    padding-left: 33px;
}
#article{
    padding-left: 25px;
}
body{
    margin: 0;
}
@media(max-width:600px) {
    #grid{
        display: block;
    }
    #grid ol{
        border: 0px;
    }
    h1{
        border-bottom: 0;
    }
}